/* Converted from SCSS to CSS */

/* Variable Declarations */
:root {
    --teal: #00b4cf;
    --white: #ffffff;
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: linear-gradient(90deg, #BE8CEF 0%, rgba(61, 46, 232, 0.83) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    height: 100vh;
    margin: -20px 0 50px;
}

/* Container */
.container {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    min-width: 370px;
    margin-top:70px;
}

/* Typography */
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Form Container */
.form-container {
    display: flex;
}

/* Left Container */
.left-container {
    flex: 1;
    height: 480px;
    background-color: var(--teal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.left-container p {
    font-size: 0.9rem;
}

/* Right Container */
.right-container {
    display: flex;
    flex: 1;
    height: 460px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
}

.right-inner-container {
    width: 70%;
    height: 80%;
    text-align: center;
}

/* Left Inner Container */
.left-inner-container {
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px;
}

/* Input and Textarea */
input,
textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
}

input:focus,
textarea:focus {
    outline: 1px solid var(--teal);
}

/* Button */
button {
    border-radius: 20px;
    border: 1px solid #00b4cf;
    background-color: #00b4cf;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

/* Media Queries *//* Media Queries */
/* Media Queries */
@media only screen and (max-width: 600px) {
    .container {
        margin: 70px;
        /* Add space to all sides */
        width: calc(100% - 40px);
        /* Adjust width to create space between corners */
    }

    .left-container {
        display: none;
    }

    .lg-view {
        display: none;
    }
}


@media only screen and (min-width: 600px) {
    .sm-view {
        display: none;
    }
}

form p {
    text-align: left;
}